.vertical-card {
    height: 300px; /* Set a fixed height for the card */
  }
  
  .vertical-card .img-fluid {
    height: 100%; /* Make the image fill the available space within the card */
    object-fit: cover; /* Ensure the image covers the entire space */
  }